html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  outline: 0 !important;
}

.mat-sort-header-sorted {
  &,
  .mat-sort-header-arrow {
    color: #673ab7;
  }
}
